@charset "UTF-8";

:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}
img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.tle em {
    color: var(--base);
}